.MyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: #efefef;
  overflow-y: scroll;
}

.MyContent__container {
  width: 100%;
}

.MyContent__tools {
  display: flex;
  align-items: center;
  padding: 10px;
}

.MyContent__tools > div {
  margin: 10px;
}

.MyContent__tasks {
  display: flex;
  flex-wrap: wrap;
}

.MyContent__groups {
  display: flex;
  flex-direction: column;
}

.MyContent__todoCard {
  display: flex;
  flex-direction: column;
}

.MyContent__popupTint {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.MyContent__edit {
  display: flex;
  flex-direction: column;
}
