.Task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 30px;
    flex-shrink: 0;
    font-size: 10pt;
}

.Task__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.Task__checkbox {
    height: 15px;
    width: 15px;
    margin: 0 4px;
    cursor: pointer;
    flex-shrink: 0;
}

.Task__title {
    margin: 0;
    font-weight: bold;
    display: flex;
    flex-shrink: 0;
    word-wrap: break-word;
    overflow-x: auto;
    width: 100%;
    text-align: center;
}

.Task__title_checked {
    font-style: italic;
    text-decoration: line-through
}

.Task__removeMark {
    opacity: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
    justify-self: end;
}

.Task:hover .Task__removeMark {
    transition: opacity 0.4s;
    opacity: 1;
}
