.TaskEdit {
  width: 400px;
}

.TaskEdit__container {
  display: flex;
  flex-direction: column;
}

.TaskEdit .TaskEdit__input {
  margin-bottom: 10px;
}

.TastEdit__buttons {
  display: flex;
  justify-content: space-evenly;
}

.TaskEdit__updatedAt {
  font-size: 10pt;
}
