.MyHeader {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    background: #61dafb;
}

.MyHeader__navigation {
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
}

.MyHeader__navigation-link {
    margin-right: 10px;
}

.MyHeader__profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.MyHeader__profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}